node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!/.env.example

# Data and Cache
data/
python_service/data/
**/__pycache__/
*.pyc
.ipynb_checkpoints/
.vscode/
*.egg-info/
.idea/
*.db
*.parquet
.venv/
.env
.venv/
.env.example

# IBKR Gateway
.ibkr-gateway.pid
clientportal/

keys.txt
reports/
